<div class="d-flex mb-2">
    <div class="col col-name justify-content-center">
        <span *ngIf="columnData.isRequired == 'Y' && !disabled" class="text-danger">*</span>
        {{columnData.colName}}

    </div>
    <div class="col" *ngIf="!disabled">
        <input *ngIf="this.status == DATA_STATUS_ENUM.UNUPLOAD" class="form-control col-value" type="file"
            (change)="onFileSelected($event)" [ngClass]="{'is-invalid': columnData.checkFailed}" />
        <div class="invalid-feedback ms-1">
            此欄位是必填欄位!
        </div>
        <div *ngIf="this.status != DATA_STATUS_ENUM.UNUPLOAD" class="form-control col-value d-flex">
            <div>
                <a class="link-opacity-100" (click)="downloadFile(columnData.colValue)"
                    style="cursor: pointer;">{{columnData.colOptions}}</a>
            </div>
            <div class="me-auto"></div>
            <span class="d-flex justify-content-end">
                <i class="bi bi-trash font-weight-bold" (click)="delete(columnData.colValue)"></i>
            </span>
        </div>

    </div>
    <div class="col" *ngIf="disabled">
        <div class="col-value form-control">
            <div *ngIf="columnData.colValue">
                <a class="link-opacity-100" (click)="downloadFile(columnData.colValue)"
                    style="cursor: pointer;">{{columnData.colOptions}}</a>
            </div>
            <div *ngIf="!columnData.colValue" class="text-secondary">
                由其他關卡人員填寫
            </div>
        </div>
    </div>
</div>