USE [BOMSDB]
GO
/****** 物件:  Table [dbo].[BomComponent]    指令碼日期: 2026/5/20 下午 04:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomComponent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScanId] [nvarchar](100) NOT NULL,
	[GroupName] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Version] [nvarchar](100) NULL,
	[Purl] [nvarchar](1000) NULL,
	[BomRef] [nvarchar](500) NULL,
 CONSTRAINT [PK_BomComponent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[BomDependency]    指令碼日期: 2026/5/20 下午 04:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomDependency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScanId] [nvarchar](100) NOT NULL,
	[ParentRef] [nvarchar](1000) NOT NULL,
	[ChildRef] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_BomDependency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[BomReport]    指令碼日期: 2026/5/20 下午 04:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomReport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](100) NULL,
	[ScanId] [nvarchar](100) NOT NULL,
	[GitlabGroupId] [nvarchar](100) NOT NULL,
	[GitlabProjectId] [nvarchar](100) NOT NULL,
	[Timestamp] [datetime] NULL,
	[RawXmlContent] [xml] NULL,
	[ImportedBy] [nvarchar](100) NOT NULL,
	[ImportDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BomReport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BomReport_ScanId] UNIQUE NONCLUSTERED 
(
	[ScanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** 物件:  Table [dbo].[BomVulnerability]    指令碼日期: 2026/5/20 下午 04:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BomVulnerability](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScanId] [nvarchar](100) NOT NULL,
	[VulnId] [nvarchar](100) NOT NULL,
	[SourceName] [nvarchar](100) NULL,
	[SourceUrl] [nvarchar](1000) NULL,
	[Severity] [nvarchar](50) NULL,
	[Score] [decimal](4, 1) NULL,
	[CvssVector] [nvarchar](255) NULL,
	[Cwe] [nvarchar](255) NULL,
	[AffectedRef] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_BomVulnerability] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BomReport] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[BomComponent]  WITH CHECK ADD  CONSTRAINT [FK_BomComponent_BomReport] FOREIGN KEY([ScanId])
REFERENCES [dbo].[BomReport] ([ScanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BomComponent] CHECK CONSTRAINT [FK_BomComponent_BomReport]
GO
ALTER TABLE [dbo].[BomDependency]  WITH CHECK ADD  CONSTRAINT [FK_BomDependency_BomReport] FOREIGN KEY([ScanId])
REFERENCES [dbo].[BomReport] ([ScanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BomDependency] CHECK CONSTRAINT [FK_BomDependency_BomReport]
GO
ALTER TABLE [dbo].[BomVulnerability]  WITH CHECK ADD  CONSTRAINT [FK_BomVulnerability_BomReport] FOREIGN KEY([ScanId])
REFERENCES [dbo].[BomReport] ([ScanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BomVulnerability] CHECK CONSTRAINT [FK_BomVulnerability_BomReport]
GO
